<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lupa Sandi E-GEDE</title>
  </head>
  <body>
    <h3>Halo {{nama_pengguna}},</h3>
    <p style="text-indent: 1rem; text-align: justify;">
      Silahkan gunakan password baru dibawah ini untuk login, ingat untuk segera
      mengubah kembali kata sandi setelah login.
    </p>
    <div style="border: 1px solid lightgray;border-radius: 20px;padding: 1rem;">
      <p style="font-weight: bold;">username:
        {{nama_pengguna}}
      </p>

      <p style="font-weight: bold;">password:
        {{password}}</p>
    </div>
  </body>
</html>