<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP E-GEDE</title>
  </head>
  <body>
    <h3>Halo {{nama_pengguna}},</h3>
    <p style="text-indent: 1rem; text-align: justify;">
      <span style="font-weight: 700;">{{kode_otp}}</span>
      adalah one-time passcode (OTP) kamu untuk digunakan di Aplikasi E-Gede
    </p>
    <p style="text-indent: 1rem; text-align: justify;">
      OTP ini diminta melalui Aplikasi E-Gede. Mohon pastikan Anda tidak pernah
      memberitahukan kode ini pada siapa pun. Terima kasih telah menggunakan
      layanan kami.
    </p>
    <p style="font-weight: 700;">Salam,</p>
  </body>
</html>